.product-page {
  .product-header {
    margin-bottom: 1rem;
  }
  .dropdown-item{
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #333;
    background-color: #f8f9fa;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #e2e6ea;
      color: #000;
    }
  }
  .active{
    background-color: lightgrey;
    color: #fff;
  }

  .product-content {
    .product-image{
      object-fit: cover;
    }
    .product-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #333;
        margin-bottom: 0.5rem;
    }
    .product-description {
        color: #6c757d;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
  }
}